{:standalone? true
 :notifications? true
 :serviceworker {:version 2
                 :caching-disabled? true
                 :no-cache []
                 :cache-first []
                 :pre-cache []}
 :colors {:primary "#00695c"
          :background "#ffa726"}
 :related-apps {:play "de.koczewski.android.rinteln"}}
