{
 :vendor "Team Kunagi
Witoslaw Koczewski, Unter der Frankenburg 20, 31737 Rinteln
Fabian Hager
Artjom Wayand
E-Mail mail@frankenburg.software"

 :datenschutzerklaerung-bausteine
 [:vertragsabwicklung
  :serverdaten
  :cookies
  :kontaktanfragen
  :nutzerbeitraege]}
