{
 :vendor "Team Kunagi
Witoslaw Koczewski, Unter der Frankenburg 20, 31737 Rinteln, wi@koczewski.de
Fabian Hager, mail@fabianhager.de
Artjom Weyand, artjom.kochtchi@googlemail.com"

 :datenschutzerklaerung-bausteine
 [:vertragsabwicklung
  :serverdaten
  :cookies
  :kontaktanfragen
  :nutzerbeitraege]}
